name: test
on: [push]
jobs:
  create-coverage-badges:
    runs-on: centos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: yarn
      - run: yarn build
